.profile__button-add {
  margin: 0;
  padding: 0;

  width: 150px;
  height: 50px;

  background-color: transparent;
  border: solid 2px #fff;

  border-radius: 2px;

  color: #fff;

  cursor:pointer;

  grid-area: btn-add;
}

.profile__button-add:hover {
  opacity: .6;
}

@media (max-width: 1167px) {
  .profile__button-add {
    width: 282px;
  } 
}