.gallery__buttom-like {
  background-color: transparent;
  border: none;

  width: 22px;

  line-height: 100%;
  

  background-image: url(../../../images/Vector_heart.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__buttom-like:hover {
  opacity: 0.6;
  cursor: pointer;
}


.gallery__buttom-like:active {
  opacity: 1;
  background-image: url(../../../images/Union.svg);
}