.profile__button-change {  
  margin: 0;
  padding: 0;

  width: 24px;
  height: 24px;

  background-color: #000;
  background-repeat:no-repeat;

  border: solid 1px #fff;

  font-size: 0;
  color: #fff;

  cursor: pointer;

  grid-area: btn-change;
}

.profile__button-change:nth-child(n) {
  margin-top: 15px;
}

.profile__button-change:hover {
  opacity: .6;
}

@media (max-width: 320px) {
  .profile__button-change {
    width: 18px;
    height: 18px;
  }

  .profile__button-change:nth-child(n) {
    margin-top: 10px;
  }
}