.page {
  box-sizing: border-box;

  max-width: 1280px;

  margin: 0 auto;

  font-family: 'Inter', 'Arial', sans-serif ;

  background-color: #000000;
  color: #fff;

  padding: 0 12.31%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 

  text-rendering: optimizeLegibility;
}

@media (min-width: 1280px) {
  .page {
    padding: 0 200px;
  }
}

@media (max-width: 320px) {
  .page {
    padding: 0;
  }
}