.pop-up__profile-input {
  margin: 0;
  padding: 0;

  box-sizing: 100%;

  background-color:transparent;
  border: none;
  outline: none;

  border-bottom: solid 1px rgba(0, 0, 0, .2);

  width: 100%;

  font-size: 14px;
  line-height: 17px;
  
  padding-bottom: 10px;
}

.pop-up__profile-input:nth-child(n) {
  margin-bottom: 30px;
}

.pop-up__profile-input:focus {
  outline: solid 2px #6f9edd;
  border-radius: 5px;
}

.pop-up__profile-input:focus::placeholder {
  color: transparent;
}
