.pop-up__btn-close {
  position: absolute;

  top: -40px;
  right: -40px;

  width: 32px;
  height: 32px;

  background: transparent;
  background-image: url(../../../../images/btn_close.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  border: none;
}

.pop-up__btn-close:hover {
  opacity: .6;

  cursor: pointer;
}

@media (max-width: 768px) {
  .pop-up__btn-close {
    top: -36px;
    right: 0; 

    width: 20px;
    height: 20px;
  }
}